* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px red solid;
}

:root {
    /* primary */
    --primary-very-dark-magenta: hsl(300, 43%, 22%);
    --primary-soft-pink: hsl(333, 80%, 67%);

    /* neutral */
    --dark-grayis-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

/* bg-pattern-bottom-desktop 1085x673px */
/* bg-pattern-top-desktop 584x362px */
/* bg-pattern-bottom-mobile 375x503px */
/* bg-pattern-top-mobile 374x232px */

html {
    font-size: 15px;
}

body {
    font-family: 'League Spartan', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
}
.forBG {
    background-image: url(./images/bg-pattern-top-mobile.svg), url(./images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat , no-repeat;
    background-position: top left, bottom right;
    background-color: var(--white);
}
.container {
    width: 100%;
    /* max-width: 375px; */
    display: grid;
    /* place-content: center; */
    gap: 1rem;
    
}

.headline {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-block: 3rem 2rem;
}

.heading {
    color: var(--primary-very-dark-magenta);
    /* font-size: 2rem; */
    font-size: clamp(2rem, (1rem + 2.6vw), 2.75rem);
    letter-spacing: -.03em;
    /* margin: 2rem 3rem; */
    /* computed subtracting the margin above with the help of devtools */
    /* width: 20rem;  */
    width: clamp(15rem, (2rem + 17vw), 25rem);    
    line-height: .9em;
    /* width: max(15vw, 15rem); */
    text-align: center;
    margin: 0 auto;
    background-color: aqua;
}

.description {
    color: var(--dark-grayis-magenta);
    text-align: center;
    /* margin: 1.2rem; */
    /* from margin above, in devtools p width is computed below */
    /* width: 22.6rem; */
    width: max(24vw, 22.6rem);
    /* explore clamp? for width */
    margin: 0 auto;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
    /* background-color: chartreuse; */
}


/*      RATED STARS      */

.rating {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
    width: 100%;
    max-width: 327px;
    padding-block-end: 2rem;
}

.rating_card {
    /* width: 100%;
    max-width: 327px; */
    display: flex;
    flex-direction: column;
    gap: 1em;
    /* border: 2px red solid; */
    border-radius: .5rem;
    background-color: var(--light-grayish-magenta);
    padding: 1rem;
    
}

.stars {
    width: 6.7rem;
    min-width: 6.7rem;
    height: 1.2rem;
    background-image: url(./images/icon-star.svg);
    background-repeat: space;
    overflow: hidden;
    margin: 0 auto;
}

.rating_card > p {
    font-weight: 700;
    color: var(--primary-very-dark-magenta);
    text-align: center;
}


/*      END OF RATED STARS      */

/*          TESTIMONIALS         */
/* .card in mobile 327x248px */
/* .card in desktop 350x234px */
.testimonials {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
}

.card {
    border: 1px green solid;
    border-radius: 1rem;
    width: 100%;
    max-width: 327px;
    background-color: var(--primary-very-dark-magenta);
    
    /* CONTENT INSIDE THE CARD */
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 1.5em 1em 1em;
    line-height: 1.25rem;
}

.card > img {
    border-radius: 50%;
    place-self: center;
    height: 3.5em;
    width: 3.5em;
    padding: .5em;
}

.name,
.category,
.review {
    color: var(--white);
    text-align: start;
}

.category {
    color: var(--primary-soft-pink);
}

.review {
    grid-column: 1/4;
    padding: 1em;
}

.subgrid {
    align-self: center;
}


@media screen and (min-width: 768px) {

    .forBG {
        background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
        /* padding: 5rem 5rem; */
        /* display: grid; */
        /* grid-template-columns: 500px 500px; */
        /* grid-template-rows: repeat(3, 1fr); */
        background-attachment: fixed;
    }

    .container {
        max-width: unset;
        /* place-content: unset; */
        height: 100vh;
        display: grid;
        place-content: center;
        grid-template-areas: 
            "heading heading . rating rating rating"
            "card1 card1 card2 card2 card3 card3";
        grid-template-columns: repeat(6, 175px);
        row-gap: 5rem;
    }

    .headline {
        grid-area: heading;
        width: max-content;
    }

    .heading {
        /* width: 15rem; */
        /* font-size: 2.5rem; */
    }

    .description {
        /* width: 30rem; */        
    }

    .heading,
    .description {
        text-align: left;
        margin: unset;
        /* justify-self: center; */ /* no effect? in dev tools */
    }

    .rating {
        place-self: center;
        grid-area: rating;
        max-width: 430px;
        margin-top: 2rem;
    }

    .rating_card {
        width: 100%;
        /* max-width: 440px; */
        flex-direction: row;
        /* align-items: center; */
        /* padding: 1rem; */
        grid-column: 3/5;
    }

    .rating_card:nth-child(2) {
        margin-left: 1.8em;
    }
    .rating_card:nth-child(3) {
        margin-left: 3.8em;
    }
    .stars {
        margin: auto 2rem;
    }

    .testimonials {
        display: contents;
    }

    .testimonials > .card {
        max-width: 350px;
        justify-self: center;
        height: max-content;
    }

    .card:nth-child(1) {
        grid-area: card1;
    }
    .card:nth-child(2) {
        grid-area: card2;
        margin-top: 1em;
    }
    .card:nth-child(3) {
        grid-area: card3;
        margin-top: 2em;
    }  

}

.attribution {
    margin-top: 1rem;
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }
    